.before{
    display: flex;
    gap: 70px;
}

.firstcon{
    box-shadow: inset 0 0 0 1000px #1566d8ce;
    
    background-image: url('/src/imgs/Rectangle.png');
    background-size: 40vw 130vh ;
    background-position: 60% 100%; 


    background-repeat: no-repeat;
}

.ndone{
    position: relative;
    left: 30rem;
    top: 9rem;
}