@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.logo{
    font-family: 'Righteous', cursive;
    color: #1565D8;
    display: flex;
    font-size: 72px;
}

.fst{
    padding: 30px;
    height: 30vh;
}

.ndtwo{
    top: 30rem;
    position: absolute;
    height: 200px;
    width: 200px;
    left: 20rem;
}

.first{
    height: 50vh;
}